.navbar-light .navbar-nav .nav-link {
    color:#FFFFFF;
    
}
#dkw{
    color:#F6B028;
}

.collapse {
    text-align: right;
}

.header {
    height: 820px;
    background-image: url(../images/Background.png);
}

.overlay{
    position: absolute;
    min-height: 30%;
    min-width: 30%;
    left: 0;
    top: 0;
    background: rgba(5, 1, 1, 0.171);
   }

.description{
    position: absolute;
    top: 30%;
    left: 35%;
    margin: auto;
    padding: 2em;
}

.description h1{
    color: #FFFFFF;
}

.section {
    margin: center;
    text-align: center;
}

.section-3 {
    height: 1000px;
}

.section h1{
    color: #DB538C;
}

#legs_left {
    float: left;
    
}

.text {
    margin-left: auto;
    margin-right: auto;
    width: 32em
}

.text p {
    text-align: center;
}

#legs_right {
    float: right;
    
}

.line {
    background-color:darkorchid;
}

.title-3 {
    padding-top: 50px;
    text-align: center;
    color: #DB538C;
}

.list {
    float: left;
    padding-left: 100px;
    list-style-image: url(../images/Group_56.png);
}

.list-header {
    padding-top: 10px;
    color: #DB538C;
    text-align: center;
}

.frog-pic {
    padding: 100px;
    float: right;
}

.section-4 {
    height: 820px;
    background-image: url(../images/Background.png);
    position: relative;
}

.form {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 60%;
    margin-left: 20%;
    background-color: white;
    height: 500px;
}
.form h5 {
    margin-top: 50px;
}

.form h6 {
    margin-top: 50px;
}

.mb-3 {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #8CC754;
    border-radius: 5px;
    
}

.mb-3 ::placeholder {
    color: #8CC754;
}

.form button {
    background-color: #8CC754;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.footer {
    height: 250px;
    background-color: #8CC754;
}

.footer div {
    width: 33%;
    color: white;
    float: left;
    text-align: center;
    margin-top: 120px;
}